{% extends "layout.html" %}
{% block content %}
                        <div class="box-title">
                            <h1 class="secondary-title-normal">{{texts.title}} <span style='font-size:40px;'>&#128075;</span><br />{{texts.project}}</h1>
                        </div>
                        <div class="box-description">
                            <p>{{texts.description}}.<span style='font-size:20px;'>&#128640; &#128104;&#8205;&#128187;</span></p>
                        </div>
{% endblock %}
